#bg {
    background-image: url(RB.gif);
}

#headerDiv {
    border: red solid 30px;
    border-radius: 20px;
    margin-bottom: 150px;
}

.header {
    background-color: rgb(30, 255, 0);
    font-size: 100px;
    font-style: italic;
    text-align: center;
    margin: 0px;
}

.text {
    font-size: 50px;
    background-image: url(eye.gif);
}

.editor {
    margin-top: 300px;
    font-size: 30px;
}

.editor_1 {
    font-size: 25px;
}

/* 버튼 */
.Btn {
    margin: 100px;
    text-align: center;
}

#btn_1 {
    font-size: 30px;
    margin: 30px;
}

#btn_2 {
    font-size: 30px;
    margin: 30px;
}

#btn_3 {
    font-size: 30px;
    margin: 30px;
}

#btn_4 {
    font-size: 30px;
    margin: 30px;
}

#btn_5 {
    font-size: 30px;
    margin: 30px;
}

#btn_6 {
    font-size: 30px;
    margin: 30px;
}

#btn_7 {
    font-size: 30px;
    margin: 30px;
}

#btn_8 {
    font-size: 30px;
    margin: 30px;
}

#btn_res {
    font-size: 50px;
    background-color: hotpink;
    border: black solid 20px;
    border-radius: 30px;
    
}