#bg {
    background-image: url(RB.gif);
}

.header {
    font-size: 100px;
    font-style: italic;
    color: red;
    text-align: center;
}

.text {
    font-size: 50px;
    background-image: url(eye.gif);
}

.editor {
    margin-top: 300px;
    font-size: 30px;
}

.editor_1 {
    font-size: 25px;
}